{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 140,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
