<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div
      style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)"
    >
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
        <p-toast></p-toast>
        <div class="text-center mb-8">
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Registrati</div>
          <span class="text-muted-color font-medium">Crea un nuovo account</span>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <label for="username" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Username</label>
            <input
              id="username"
              type="text"
              pInputText
              formControlName="username"
              class="w-full md:w-[30rem]"
              [ngClass]="{ 'ng-invalid ng-dirty': f.username.touched && f.username.errors }"
            />
            <small *ngIf="f.username.touched && f.username.errors" class="p-error block">
              <span *ngIf="f.username.errors['required']">Username obbligatorio.</span>
              <span *ngIf="f.username.errors['minlength']">Almeno 3 caratteri.</span>
            </small>
          </div>

          <div class="mb-4">
            <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
            <input
              id="email"
              type="email"
              pInputText
              formControlName="email"
              class="w-full md:w-[30rem]"
              [ngClass]="{ 'ng-invalid ng-dirty': f.email.touched && f.email.errors }"
            />
            <small *ngIf="f.email.touched && f.email.errors" class="p-error block">
              <span *ngIf="f.email.errors['required']">Email obbligatoria.</span>
              <span *ngIf="f.email.errors['email']">Email non valida.</span>
            </small>
          </div>

          <div class="mb-4">
            <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
            <p-password
              id="password"
              formControlName="password"
              class="w-full"
              [feedback]="false"
              [toggleMask]="true"
              [fluid]="true"
              [ngClass]="{ 'ng-invalid ng-dirty': f.password.touched && f.password.errors }"
            ></p-password>
            <small *ngIf="f.password.touched && f.password.errors" class="p-error block">
              <span *ngIf="f.password.errors['required']">Password obbligatoria.</span>
              <span *ngIf="f.password.errors['minlength']">Almeno 6 caratteri.</span>
            </small>
          </div>

          <div class="mb-4">
            <label for="confirmPassword" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
              Conferma Password
            </label>
            <p-password
              id="confirmPassword"
              formControlName="confirmPassword"
              class="w-full"
              [feedback]="false"
              [toggleMask]="true"
              [fluid]="true"
              [ngClass]="{
                'ng-invalid ng-dirty': f.confirmPassword.touched && (f.confirmPassword.errors || registerForm.errors?.['passwordMismatch'])
              }"
            ></p-password>
            <small *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="p-error block">
              <span *ngIf="f.confirmPassword.errors['required']">Conferma obbligatoria.</span>
            </small>
            <small *ngIf="registerForm.errors?.['passwordMismatch']" class="p-error block">Le password non corrispondono.</small>
          </div>

          <div class="mb-4">
            <label for="firstName" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Nome (Opzionale)</label>
            <input id="firstName" type="text" pInputText formControlName="firstName" class="w-full" />
          </div>
          <div class="mb-4">
            <label for="lastName" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Cognome (Opzionale)</label>
            <input id="lastName" type="text" pInputText formControlName="lastName" class="w-full" />
          </div>

          <button pButton pRipple label="Registrati" type="submit" class="w-full" [disabled]="registerForm.invalid"></button>
        </form>
        <div class="mt-4 text-center">
          <p>
            Hai già un account?
            <a routerLink="/login" class="text-primary cursor-pointer">Accedi</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
